/*
 *= require bootstrap/scss/bootstrap
 *= require_tree .
 *= require_self
 */

.grid{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
}

.bodyelements{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.element-title{
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 10px;
    margin-bottom: 0;
}

.services{
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 30px;
    font-weight: bold;
}

.megabox{
    -webkit-box-shadow: 2px 10px 47px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 10px 47px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 10px 47px 0px rgba(0,0,0,0.3);
    border: 1px solid #E8E8E8;
    border-radius: 9px;
    padding: 2em;
    transition: 1s;
}

.megabox:hover{
    -webkit-box-shadow: 2px 10px 47px 0px rgba(223,217,255,1);
    -moz-box-shadow: 2px 10px 47px 0px rgba(223,217,255,1);
    box-shadow: 2px 10px 47px 0px rgba(223,217,255,1);
    transition: 1s;
}

.col-text{
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

